<div class="row">
<div class="twelve columns">
<h1>Listing urls</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Comment</th>
    <th>Student</th>
    <th>Course</th>
  </tr>

<% @students.each do |s| %>
  <% s.urls.each do |u| %>
    <tr>
      <td><%= u.url %></td>
      <td><%= u.comment %></td>
      <td><%= s.name %></td>
      <td><%= s.course %></td>
    </tr>
  <% end %>
<% end %>
</table>
</div>
<%= link_to 'Enter another URL', '/',:html => {:class => 'nav'} %>
</div>

